<p>movie works!</p>
<div id="discussion">
    <h4>New Discussion</h4>
    <form>
        <label>Topic: </label><br>
        <select name="rating" id="rating" [(ngModel)]="submitDiscussion.topic" [ngModelOptions]="{standalone: true}">
            <option selected hidden disabled></option>
            <option *ngFor="let topic of topics"
                    [value]="topic">
                    {{topic}}
            </option>
        </select><br>
        <label>Discussion Subject:</label><br>
        <input type="text" [(ngModel)]="submitDiscussion.subject" [ngModelOptions]="{standalone: true}"><br>
        <button type="reset" (click)="postDiscussion()">Submit Discussion</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Username</th>
                <th>Replies</th>
            </tr>
        </thead>
        <tbody>
             <tr *ngFor = "let discussion of newDiscussions">
                 
                    <a routerLink="/discussion/{{discussion.discussionid}}"><td>{{discussion.subject}}</td></a>
                    <td>{{discussion.userid}}</td>
                    <td>{{discussion.commentCount}}</td>
                
            </tr>
        </tbody>
    </table>
    <div *ngIf="displayMoreDuscussion">
        <a routerLink="/discussionlsit/{{movieID}}"><button>Load More List</button></a>
    </div>
</div>