<h1>{{subject}}</h1>
<button (click) = "sortByCreationA()">Sort By Creation Time Ascending</button>
<button (click) = "sortByCreationB()">Sort BY Creation Time Descending</button>
<button (click) = "sortByCommentD()">Sort By Number of Comments Descending</button>
<button (click) = "sortByLike()">Sort By Like </button>
<ul>
    <ng-container
      *ngTemplateOutlet="recursiveListTmpl; context:{ list: pageComments }"
    ></ng-container>
</ul>


<ng-template #recursiveListTmpl let-list="list">
<li *ngFor="let item of list">
    <div  class="spoilerCover" *ngIf="item.isspoiler && !spoilersShown()">
        <button (click)="showSpoilers()">Show Spoilers</button>
    </div>
    <div class="commentContent" *ngIf="!item.isspoiler || spoilersShown()">
        <a routerLink="/user/{{item.userid}}" class="userid">{{ item.userid }}</a>
        {{item.commentid}}
        <div class="commenttext">{{item.text}}</div>
        <button (click) = "showReplyForm(item.commentid)">reply</button>
        <button (click) = "addLike(item.commentid)">Like {{item.likes}}</button>
    </div>    
    <ul *ngIf="item.replies.length > 0">
    <ng-container
        *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.replies }"
    ></ng-container>
    </ul>
</li>
</ng-template>

<div id = "reply" *ngIf = "displayReplyForm">
    <h3>Reply</h3>
    <form class = "replyForm">
        <label>Message</label>
        <input type="text" placeholder="Comment" [(ngModel)]="newComment.text" [ngModelOptions]="{standalone: true}" required><br>
        <button (click)="postReply()">Post Reply</button>
        <input type="checkbox" [(ngModel)]="newComment.isspoiler" [ngModelOptions]="{standalone: true}">
        <label>Spoiler</label>
    </form>
    <button (click) = "cancelReply()">Cancel Reply</button>
</div>

<button *ngIf="1<pageNum" (click)="onPrev()">Previous</button>
<button *ngIf="numOfComments>(pageNum*5)" (click)="onNext()">Next</button>

<div id="input" *ngIf = "displayMessageForm">
    <h3>New Comment</h3>
    <form>
        <input type="text" placeholder="Comment" id="comment" [(ngModel)]="newComment.text" [ngModelOptions]="{standalone: true}" required><br>
        <button (click)="postComment()">Post Comment</button>
        <input type="checkbox" id="spoiler" [(ngModel)]="newComment.isspoiler" [ngModelOptions]="{standalone: true}">
        <label>Spoiler</label>
    </form>
</div>