<h1>{{subject}}</h1>
<button (click) = "testingStuff()">Test</button>
<div *ngIf="comments">
    <ul>
        <li *ngFor="let comment of parentComments">
            <div  class="spoilerCover" *ngIf="comment.isspoiler && !spoilersShown()">
                <button (click)="showSpoilers()">Show Spoilers</button>
            </div>
            <div class="commentContent" *ngIf="!comment.isspoiler || spoilersShown()">
                <a routerLink="/user/{{comment.userid}}" class="userid">{{ comment.userid }}</a>
                <div class="commenttext">{{comment.text}}</div>
            </div>
            <ul>
                <li *ngFor="let reply of comment.replies">
                    <div  class="spoilerCover" *ngIf="reply.isspoiler && !spoilersShown()">
                        <button (click)="showSpoilers()">Show Spoilers</button>
                    </div>
                    <div class="commentContent" *ngIf="!reply.isspoiler || spoilersShown()">
                        <a routerLink="/user/{{reply.userid}}" class="userid">{{ reply.userid }}</a>
                        <div class="commenttext">{{reply.text}}</div>
                    </div>
                    <button (click) = "showReplyForm(reply.commentid)">Reply {{reply.commentid}}</button>
                    <ul>
                        <li *ngFor="let r of reply.replies">
                            <div  class="spoilerCover" *ngIf="r.isspoiler && !spoilersShown()">
                                <button (click)="showSpoilers()">Show Spoilers</button>
                            </div>
                            <div class="commentContent" *ngIf="!reply.isspoiler || spoilersShown()">
                                <a routerLink="/user/{{r.userid}}" class="userid">{{ r.userid }}</a>
                                <div class="commenttext">{{r.text}}</div>
                            </div>
                            <button (click) = "showReplyForm(r.commentid)">Reply {{r.commentid}}</button>
                        </li>
                    </ul>
                    <button (click) = "showReplyForm(reply.commentid)">Reply</button>
                </li>
            </ul>
            <button (click) = "showReplyForm(comment.commentid)">Reply</button>
        </li>
    </ul>
</div>

<div id = "reply" *ngIf = "displayReplyForm">
    <h3>Reply</h3>
    <form class = "replyForm">
        <label>Message</label>
        <input type="text" placeholder="Comment" [(ngModel)]="newComment.text" [ngModelOptions]="{standalone: true}" required><br>
        <button (click)="postReply()">Post Reply</button>
        <input type="checkbox" [(ngModel)]="newComment.isspoiler" [ngModelOptions]="{standalone: true}">
        <label>Spoiler</label>
    </form>
    <button (click) = "cancelReply()">Cancel Reply</button>
</div>

<div id="input" *ngIf = "displayMessageForm">
    <h3>New Comment</h3>
    <form>
        <input type="text" placeholder="Comment" id="comment" [(ngModel)]="newComment.text" [ngModelOptions]="{standalone: true}" required><br>
        <button (click)="postComment()">Post Comment</button>
        <input type="checkbox" id="spoiler" [(ngModel)]="newComment.isspoiler" [ngModelOptions]="{standalone: true}">
        <label>Spoiler</label>
    </form>
</div>