<h3>List of Discussions</h3>
<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" id="myInput" (keyup)="setTable()" placeholder="Search for names.." title="Type in a name">
    <button type="button" class="btn btn-outline-primary">search</button>
  </div>

<button (click) = "sortDiscussionsByCommentsAsc()">Sort Ascending</button>
<button (click) = "sortDiscussionsByCommentsDesc()">Sort Descending</button>
<p>Filter by Topic</p>
<div>
    <ul *ngFor = "let t of topics">
        <li><button (click) = "filterByTopic(t.topicId)">{{t.topicName}}</button></li>
    </ul>
</div>


<!-- <table *ngIf="DisplayList">
    <thead>
        <tr>
            <th>Title</th>
            <th>Username</th>
            <th>Replies</th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor = "let discussion of searchDiscussions">
             
                <a routerLink="/discussion/{{discussion.discussionid}}"><td>{{discussion.subject}}</td></a>
                <td>{{discussion.userid}}</td>
                <td>{{discussion.commentCount}}</td>
            
        </tr>
    </tbody>
</table> -->
  
<table id="myTable" *ngIf="DisplayList">
    <thead>
        <tr>
            <th>Title</th>
            <th>Username</th>
            <th>Replies</th>
            <th>Likes</th>
        </tr>
</thead>
    <tbody>
         <tr *ngFor = "let discussion of discussions">
             
                <a routerLink="/discussion/{{discussion.discussionId}}"><td>{{discussion.subject}}</td></a>
                <td>{{discussion.userid}}</td>
                <td>{{discussion.comments.length}}</td>
                <td>{{ discussion.likes}}</td>
            
        </tr>
        <!-- <tr *ngFor = "let d of sortDiscussions">
            <a routerLink="/discussion/{{d.discussionId}}"><td>{{d.subject}}</td></a>
            <td>{{d.userid}}</td>  
            <td>{{d.comments.length}}</td>      
        </tr> -->
    </tbody>
</table>

<button *ngIf="1<pageNum" (click)="onPrev()">Previous</button>
<button *ngIf="numOfDiscussion > (pageNum*10)" (click)="onNext()">Next</button>



